;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #30303A
foreground = #949494
background-alt = #949494
foreground-alt = #FFFFFF
primary = #ffb52A
secondary = #E60053
alert = #BD2C40

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
width = 99.8%
offset-x = 2
monitor = ${env:monitor}
offset-y = 0 
height = 16 
separator = |
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
locale = es_AR.UTF-8
; border-size = 1
; border-color = #949494
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 1
font-0 = Iosevka NF:size=10;3
font-1 = Iosevka NF:size=10:weight=bold;3
font-2 = Iosevka NF:size=10;3
modules-center =
modules-right = cpu temperature memory filesystem pulseaudio wlan eth date
; tray-position = right
; tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

[module/filesystem]
type = internal/fs
interval = 25
mount-0 = /
label-mounted = %{T2}FS%{T-} %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/cpu]
type = internal/cpu
interval = 2
warn-percentage = 90
label = %{T2}CPU%{T-} %percentage%%
label-warn = %percentage%%
format-warn = %{T2}CPU%{T-} %{F#e60053}<label-warn>%{F-}

[module/memory]
type = internal/memory
interval = 2
warn-percentage = 90
label = %{T2}RAM%{T-} %percentage_used%%
label-warn = %percentage_used%%
format-warn = %{T2}RAM%{T-} %{F#e60053}<label-warn>%{F-}

[module/wlan]
type = internal/network
interface = wlp3s0
interval = 3.0
label-connected = %{T2}WIFI%{T-} %essid%
format-disconnected =

[module/eth]
type = internal/network
interface = enp2s0
interval = 3.0
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %{T2}ETH%{T-} %ifname%
format-disconnected =

[module/date]
type = internal/date
date = %d/%m/%Y %H:%M
date-alt = %A %d %B, %H:%M

[module/pulseaudio]
type = internal/pulseaudio
format-volume = <label-volume>
label-volume = %{T2}VOL%{T-} %percentage%%
label-volume-foreground = ${root.foreground}
label-muted = %{T2}MUTED%{T-}
label-muted-foreground = #666

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 98
low-at = 15
label-full = %percentage%%
format-charging = %{T2}BAT%{T-} <label-charging>
format-discharging = %{T2}BAT%{T-} <label-discharging>
format-full = %{T2}BAT%{T-} <label-full>
format-low = %{T2}BAT%{T-} %{F#e60053}<label-low>%{F-}

[module/temperature]
type = internal/temperature
interval = 0.5
thermal-zone = 0
warn-temperature = 70
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input
format = %{T2}TMP%{T-} <label>
format-warn = %{T2}TMP%{T-} %{F#e60053}<label-warn>%{F-}
label = %temperature-c%
label-warn = %temperature-c%

[settings]
screenchange-reload = true

; vim:ft=dosini
